
<header class="l-header js-header b-fonts__medium">
    <div class="p-header l-wide-container">
        <div class="p-header__left js-logo">
            <div class="p-header__left__inner">
                <a class="js-target--pointer__stateChange" href="/#">
                    <div class="js-target__inner--pointer__stateChange js-target__parent--spring">
                        <img src="<%= logo %>" width="200"/>
                    </div>
                </a></div>
            <a class="p-header__close c-btn--close js-target__aboutClose js-target--pointer__stateChange js-hover"
               data-hover-in-time="1200"
               data-hover-out-time="100" href="/#">
                <div class="c-btn--close__layer front js-target__inner--pointer__stateChange js-target__parent--spring">
                    <div class="c-btn--close__bar">
                        <div class="c-btn--close__bar__inner js-closeBar"></div>
                    </div>
                    <div class="c-btn--close__bar">
                        <div class="c-btn--close__bar__inner js-closeBar"></div>
                    </div>
                </div>
                <div class="c-btn--close__layer back">
                    <div class="c-btn--close__bar">
                        <div class="c-btn--close__bar__inner js-closeBar"></div>
                    </div>
                    <div class="c-btn--close__bar">
                        <div class="c-btn--close__bar__inner js-closeBar"></div>
                    </div>
                </div>
            </a>
        </div>
        <a class="p-header__close--works-detail c-btn--close js-target__worksDetailClose js-target--pointer__stateChange js-hover"
           data-hover-in-time="1200"
           data-hover-out-time="100" href="/#">
            <div class="c-btn--close__layer front js-target__inner--pointer__stateChange js-target__parent--spring">
                <div class="c-btn--close__bar">
                    <div class="c-btn--close__bar__inner js-closeBar"></div>
                </div>
                <div class="c-btn--close__bar">
                    <div class="c-btn--close__bar__inner js-closeBar"></div>
                </div>
            </div>
            <div class="c-btn--close__layer back">
                <div class="c-btn--close__bar">
                    <div class="c-btn--close__bar__inner js-closeBar"></div>
                </div>
                <div class="c-btn--close__bar">
                    <div class="c-btn--close__bar__inner js-closeBar"></div>
                </div>
            </div>
        </a>
        <nav class="js-nav">
            <ul class="p-header__list">
                <li class="p-header__list__item works pc">
                    <div class="p-header__list__item__inner--works">
                        <div class="p-header__list__item--all">
                            <a class="js-nav__link js-target--pointer__stateChange" href="/works"><span
                                        class="js-target__inner--pointer__stateChange js-target__parent--spring"><%= staticList["All"] %></span>
                            </a>
                        </div>
                        <div class="p-header__list__item--focus"><a
                                    class="js-nav__link js-target--pointer__stateChange" href="/#"><span
                                        class="js-target__inner--pointer__stateChange js-target__parent--spring"><%= staticList["Focus"] %></span></a>
                        </div>
                    </div>
                </li>
                <li class="p-header__list__item has-children"><a
                            class="js-nav__link js-target--pointer__stateChange about" href="/about"><span
                                class="js-target__inner--pointer__stateChange js-target__parent--spring"><%= staticList["About"] %></span></a>
                    <div class="p-header__list__item__inner" style="display: none;">
                        <ul class="p-header__languageList">
                            <li class="p-header__languageList__item"><a
                                        class="js-nav__link js-trigger--langChange js-target--pointer__stateChange"
                                        data-lang="en" href="#"><span
                                            class="js-target__inner--pointer__stateChange js-target__parent--spring">En</span></a>
                            </li>
                            <li class="p-header__languageList__item"><a
                                        class="js-nav__link js-trigger--langChange js-target--pointer__stateChange"
                                        data-lang="zh-cmn-Hans" href="#"><span
                                            class="js-target__inner--pointer__stateChange js-target__parent--spring">Cn</span></a>
                            </li>
                            <li class="p-header__languageList__item"><a
                                        class="js-nav__link js-trigger--langChange js-target--pointer__stateChange"
                                        data-lang="ja" href="#"><span
                                            class="js-target__inner--pointer__stateChange js-target__parent--spring">Jp</span></a>
                            </li>
                            <li class="p-header__languageList__item line"></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>