<div class="lng-box-mobile">
    <a href="?lng=en" class="lng-item <% if(lng === 'en' || !lng){ %>selected<%}%>">E</a>
    <a href="?lng=gr" class="lng-item <% if(lng === 'gr'){ %>selected<%}%>">G</a>
</div>